<p id="notice"><%= notice %></p>
<div class="container row">
<h1 class="col-xs-4">Customer Portfolios</h1>
<%= link_to 'Add Customer', new_user_registration_path, class:"ml-auto btn btn-default" %>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Customer Email</th <th scope="col">
    </th>
    <th scope="col">Total Investment</th>
    <th scope="col"># Investments</th>
    <th scope="col" colspan="3" width="30%">Actions</th>
  </tr>
</thead>

<tbody>
  <% @portfolios.each do |portfolio| %>
    <% if !portfolio.user.manager %>
      <tr>
        <td><%= portfolio.user.email %></td>
        <td><%= portfolio.total_investment %></td>
        <td><%= portfolio.investments.length %></td>
        <td>
        <%= link_to 'Show ', portfolio, class:"fa fa-eye" %>
        <%= link_to 'Edit', edit_user_registration_path(portfolio.user), class:"fa fa-pencil-alt" %>
        <%= link_to 'Remove', portfolio, method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-trash" %>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
