<p id="notice"><%= notice %></p>
<div class="container row">
  <h1 class="col-xs-4">Investments</h1>
  <% if current_user.manager %>
    <%= link_to 'Add Investment', "/portfolios/#{@portfolio.id}/add", class:"ml-auto btn btn-default" %>
  <% end %>
</div>
<p>Customer:
  <%= @portfolio.user.email %></p>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Stock Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Initial Price</th>
      <th scope="col">Current Price</th>
      <th scope="col">Gains/Losses</th>
    </tr>
  </thead>
  <tbody>
    <% if @portfolio.investments.length > 0 %>
      <% stock_response = get_stock_price %>
        <% @portfolio.investments.each do |investment| %>
          <tr>
            <td>
              <%= investment.stock.name %></td>
            <td>
              <%= investment.stock.symbol %></td>
            <td>
              <%= investment.shares %></td>
            <td>
              <%= number_to_currency(investment.initial_cost) %></td>
            <td>
              <%= number_to_currency(stock_response[investment.stock.symbol]["price"]) %>
            </td>
            <td><%= calculate_earnings(investment.shares, investment.initial_cost, stock_response[investment.stock.symbol]["price"]) %></td>
          </tr>
        <% end %>
      <% end %>

    </tbody>
  </table>
  <% if current_user.manager %>
    <%= link_to 'Back', portfolios_path %>
  <% end %>
