<p id="notice"><%= notice %></p>
<div class="container row">
<h1 class="col-xs-4">Stocks</h1>
<%= link_to 'Add Company', new_stock_path, class:"table-header ml-auto btn btn-primary" %>
</div>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Exchange</th>
      <th scope="col" colspan="3" width=20%>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td> <%= stock.id %></td>
        <td><%= stock.name %></td>
        <td><%= stock.symbol %></td>
        <td><%= stock.exchange %></td>
        <td> <%= link_to 'Show ', stock, class:"fa fa-eye" %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock), class:"fa fa-pencil-alt" %></td>
        <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
